<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>800</integer>
    <key>copyright</key>
    <string>SunilJayaprakash</string>
    <key>descender</key>
    <integer>-200</integer>
    <key>familyName</key>
    <string>Nanni</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2026/05/17 16:40:58</string>
    <key>openTypeHheaAscender</key>
    <integer>873</integer>
    <key>openTypeHheaDescender</key>
    <integer>-543</integer>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Medium</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>6</integer>
      <integer>3</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>258</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>49</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>800</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-200</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>90</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>22</integer>
      <integer>42</integer>
      <integer>48</integer>
      <integer>60</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>2ttf</string>
    <key>openTypeOS2WeightClass</key>
    <integer>500</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>873</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>543</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Nanni</string>
    <key>postscriptUnderlinePosition</key>
    <integer>-125</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Nanni Medium</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Medium</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>8</integer>
  </dict>
</plist>
