<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bavattu_rkannada</key>
    <string>bavattu_rkannada.glif</string>
    <key>bavattukannada</key>
    <string>bavattukannada.glif</string>
    <key>bhavattu_rkannada</key>
    <string>bhavattu_rkannada.glif</string>
    <key>bhavattukannada</key>
    <string>bhavattukannada.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cavattu_rkannada</key>
    <string>cavattu_rkannada.glif</string>
    <key>cavattukannada</key>
    <string>cavattukannada.glif</string>
    <key>chavattu_rkannada</key>
    <string>chavattu_rkannada.glif</string>
    <key>chavattukannada</key>
    <string>chavattukannada.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>davattu_rkannada</key>
    <string>davattu_rkannada.glif</string>
    <key>davattukannada</key>
    <string>davattukannada.glif</string>
    <key>ddavattu_rkannada</key>
    <string>ddavattu_rkannada.glif</string>
    <key>ddavattukannada</key>
    <string>ddavattukannada.glif</string>
    <key>ddhavattu_rkannada</key>
    <string>ddhavattu_rkannada.glif</string>
    <key>ddhavattukannada</key>
    <string>ddhavattukannada.glif</string>
    <key>dhavattu_rkannada</key>
    <string>dhavattu_rkannada.glif</string>
    <key>dhavattukannada</key>
    <string>dhavattukannada.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gavattu_rkannada</key>
    <string>gavattu_rkannada.glif</string>
    <key>gavattukannada</key>
    <string>gavattukannada.glif</string>
    <key>ghavattu_rkannada</key>
    <string>ghavattu_rkannada.glif</string>
    <key>ghavattukannada</key>
    <string>ghavattukannada.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>havattu_rkannada</key>
    <string>havattu_rkannada.glif</string>
    <key>havattukannada</key>
    <string>havattukannada.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>javattu_rkannada</key>
    <string>javattu_rkannada.glif</string>
    <key>javattukannada</key>
    <string>javattukannada.glif</string>
    <key>jhavattu_rkannada</key>
    <string>jhavattu_rkannada.glif</string>
    <key>jhavattukannada</key>
    <string>jhavattukannada.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kavattu_rkannada</key>
    <string>kavattu_rkannada.glif</string>
    <key>khavattu_rkannada</key>
    <string>khavattu_rkannada.glif</string>
    <key>khavattukannada</key>
    <string>khavattukannada.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lavattu_rkannada</key>
    <string>lavattu_rkannada.glif</string>
    <key>lavattukannada</key>
    <string>lavattukannada.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>llavattu_rkannada</key>
    <string>llavattu_rkannada.glif</string>
    <key>llavattukannada</key>
    <string>llavattukannada.glif</string>
    <key>lllavattu_rkannada</key>
    <string>lllavattu_rkannada.glif</string>
    <key>lllavattukannada</key>
    <string>lllavattukannada.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>mavattu_rkannada</key>
    <string>mavattu_rkannada.glif</string>
    <key>mavattukannada</key>
    <string>mavattukannada.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>navattu_rkannada</key>
    <string>navattu_rkannada.glif</string>
    <key>navattukannada</key>
    <string>navattukannada.glif</string>
    <key>ngavattu_rkannada</key>
    <string>ngavattu_rkannada.glif</string>
    <key>ngavattukannada</key>
    <string>ngavattukannada.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nnavattu_rkannada</key>
    <string>nnavattu_rkannada.glif</string>
    <key>nnavattukannada</key>
    <string>nnavattukannada.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>nyavattu_rkannada</key>
    <string>nyavattu_rkannada.glif</string>
    <key>nyavattukannada</key>
    <string>nyavattukannada.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>pavattu_rkannada</key>
    <string>pavattu_rkannada.glif</string>
    <key>pavattukannada</key>
    <string>pavattukannada.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>phavattu_rkannada</key>
    <string>phavattu_rkannada.glif</string>
    <key>phavattukannada</key>
    <string>phavattukannada.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ravattu_rkannada</key>
    <string>ravattu_rkannada.glif</string>
    <key>ravattukannada</key>
    <string>ravattukannada.glif</string>
    <key>rravattu_rkannada</key>
    <string>rravattu_rkannada.glif</string>
    <key>rravattukannada</key>
    <string>rravattukannada.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>savattu_rkannada</key>
    <string>savattu_rkannada.glif</string>
    <key>savattukannada</key>
    <string>savattukannada.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>shavattu_rkannada</key>
    <string>shavattu_rkannada.glif</string>
    <key>shavattukannada</key>
    <string>shavattukannada.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssavattu_rkannada</key>
    <string>ssavattu_rkannada.glif</string>
    <key>ssavattukannada</key>
    <string>ssavattukannada.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tavattu_rkannada</key>
    <string>tavattu_rkannada.glif</string>
    <key>tavattukannada</key>
    <string>tavattukannada.glif</string>
    <key>thavattu_rkannada</key>
    <string>thavattu_rkannada.glif</string>
    <key>thavattukannada</key>
    <string>thavattukannada.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>ttavattu_rkannada</key>
    <string>ttavattu_rkannada.glif</string>
    <key>ttavattukannada</key>
    <string>ttavattukannada.glif</string>
    <key>tthavattu_rkannada</key>
    <string>tthavattu_rkannada.glif</string>
    <key>tthavattukannada</key>
    <string>tthavattukannada.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni0C80</key>
    <string>uni0C_80.glif</string>
    <key>uni0C81</key>
    <string>uni0C_81.glif</string>
    <key>uni0C82</key>
    <string>uni0C_82.glif</string>
    <key>uni0C83</key>
    <string>uni0C_83.glif</string>
    <key>uni0C84</key>
    <string>uni0C_84.glif</string>
    <key>uni0C85</key>
    <string>uni0C_85.glif</string>
    <key>uni0C86</key>
    <string>uni0C_86.glif</string>
    <key>uni0C87</key>
    <string>uni0C_87.glif</string>
    <key>uni0C88</key>
    <string>uni0C_88.glif</string>
    <key>uni0C89</key>
    <string>uni0C_89.glif</string>
    <key>uni0C8A</key>
    <string>uni0C_8A_.glif</string>
    <key>uni0C8B</key>
    <string>uni0C_8B_.glif</string>
    <key>uni0C8C</key>
    <string>uni0C_8C_.glif</string>
    <key>uni0C8E</key>
    <string>uni0C_8E_.glif</string>
    <key>uni0C8F</key>
    <string>uni0C_8F_.glif</string>
    <key>uni0C90</key>
    <string>uni0C_90.glif</string>
    <key>uni0C92</key>
    <string>uni0C_92.glif</string>
    <key>uni0C93</key>
    <string>uni0C_93.glif</string>
    <key>uni0C94</key>
    <string>uni0C_94.glif</string>
    <key>uni0C95</key>
    <string>uni0C_95.glif</string>
    <key>uni0C96</key>
    <string>uni0C_96.glif</string>
    <key>uni0C960CC8</key>
    <string>uni0C_960C_C_8.glif</string>
    <key>uni0C97</key>
    <string>uni0C_97.glif</string>
    <key>uni0C970CC8</key>
    <string>uni0C_970C_C_8.glif</string>
    <key>uni0C98</key>
    <string>uni0C_98.glif</string>
    <key>uni0C980CC8</key>
    <string>uni0C_980C_C_8.glif</string>
    <key>uni0C99</key>
    <string>uni0C_99.glif</string>
    <key>uni0C990CC8</key>
    <string>uni0C_990C_C_8.glif</string>
    <key>uni0C9A</key>
    <string>uni0C_9A_.glif</string>
    <key>uni0C9A0CC8</key>
    <string>uni0C_9A_0C_C_8.glif</string>
    <key>uni0C9B</key>
    <string>uni0C_9B_.glif</string>
    <key>uni0C9B0CC8</key>
    <string>uni0C_9B_0C_C_8.glif</string>
    <key>uni0C9C</key>
    <string>uni0C_9C_.glif</string>
    <key>uni0C9C0CC8</key>
    <string>uni0C_9C_0C_C_8.glif</string>
    <key>uni0C9D</key>
    <string>uni0C_9D_.glif</string>
    <key>uni0C9D0CC8</key>
    <string>uni0C_9D_0C_C_8.glif</string>
    <key>uni0C9E</key>
    <string>uni0C_9E_.glif</string>
    <key>uni0C9E0CC8</key>
    <string>uni0C_9E_0C_C_8.glif</string>
    <key>uni0C9F</key>
    <string>uni0C_9F_.glif</string>
    <key>uni0C9F0CC8</key>
    <string>uni0C_9F_0C_C_8.glif</string>
    <key>uni0CA0</key>
    <string>uni0C_A_0.glif</string>
    <key>uni0CA00CC8</key>
    <string>uni0C_A_00C_C_8.glif</string>
    <key>uni0CA1</key>
    <string>uni0C_A_1.glif</string>
    <key>uni0CA10CC8</key>
    <string>uni0C_A_10C_C_8.glif</string>
    <key>uni0CA2</key>
    <string>uni0C_A_2.glif</string>
    <key>uni0CA20CC8</key>
    <string>uni0C_A_20C_C_8.glif</string>
    <key>uni0CA3</key>
    <string>uni0C_A_3.glif</string>
    <key>uni0CA30CC8</key>
    <string>uni0C_A_30C_C_8.glif</string>
    <key>uni0CA4</key>
    <string>uni0C_A_4.glif</string>
    <key>uni0CA40CC8</key>
    <string>uni0C_A_40C_C_8.glif</string>
    <key>uni0CA5</key>
    <string>uni0C_A_5.glif</string>
    <key>uni0CA50CC8</key>
    <string>uni0C_A_50C_C_8.glif</string>
    <key>uni0CA6</key>
    <string>uni0C_A_6.glif</string>
    <key>uni0CA60CC8</key>
    <string>uni0C_A_60C_C_8.glif</string>
    <key>uni0CA7</key>
    <string>uni0C_A_7.glif</string>
    <key>uni0CA70CC8</key>
    <string>uni0C_A_70C_C_8.glif</string>
    <key>uni0CA8</key>
    <string>uni0C_A_8.glif</string>
    <key>uni0CA80CC8</key>
    <string>uni0C_A_80C_C_8.glif</string>
    <key>uni0CAA</key>
    <string>uni0C_A_A_.glif</string>
    <key>uni0CAA0CC8</key>
    <string>uni0C_A_A_0C_C_8.glif</string>
    <key>uni0CAB</key>
    <string>uni0C_A_B_.glif</string>
    <key>uni0CAB0CC8</key>
    <string>uni0C_A_B_0C_C_8.glif</string>
    <key>uni0CAC</key>
    <string>uni0C_A_C_.glif</string>
    <key>uni0CAC0CC8</key>
    <string>uni0C_A_C_0C_C_8.glif</string>
    <key>uni0CAD</key>
    <string>uni0C_A_D_.glif</string>
    <key>uni0CAD0CC8</key>
    <string>uni0C_A_D_0C_C_8.glif</string>
    <key>uni0CAE</key>
    <string>uni0C_A_E_.glif</string>
    <key>uni0CAE0CC8</key>
    <string>uni0C_A_E_0C_C_8.glif</string>
    <key>uni0CAF</key>
    <string>uni0C_A_F_.glif</string>
    <key>uni0CAF0CC8</key>
    <string>uni0C_A_F_0C_C_8.glif</string>
    <key>uni0CB0</key>
    <string>uni0C_B_0.glif</string>
    <key>uni0CB00CC8</key>
    <string>uni0C_B_00C_C_8.glif</string>
    <key>uni0CB00CCD_2kannada</key>
    <string>uni0C_B_00C_C_D__2kannada.glif</string>
    <key>uni0CB1</key>
    <string>uni0C_B_1.glif</string>
    <key>uni0CB10CC8</key>
    <string>uni0C_B_10C_C_8.glif</string>
    <key>uni0CB2</key>
    <string>uni0C_B_2.glif</string>
    <key>uni0CB20CC8</key>
    <string>uni0C_B_20C_C_8.glif</string>
    <key>uni0CB3</key>
    <string>uni0C_B_3.glif</string>
    <key>uni0CB30CC8</key>
    <string>uni0C_B_30C_C_8.glif</string>
    <key>uni0CB5</key>
    <string>uni0C_B_5.glif</string>
    <key>uni0CB50CC8</key>
    <string>uni0C_B_50C_C_8.glif</string>
    <key>uni0CB6</key>
    <string>uni0C_B_6.glif</string>
    <key>uni0CB60CC8</key>
    <string>uni0C_B_60C_C_8.glif</string>
    <key>uni0CB7</key>
    <string>uni0C_B_7.glif</string>
    <key>uni0CB70CC8</key>
    <string>uni0C_B_70C_C_8.glif</string>
    <key>uni0CB8</key>
    <string>uni0C_B_8.glif</string>
    <key>uni0CB80CC8</key>
    <string>uni0C_B_80C_C_8.glif</string>
    <key>uni0CB9</key>
    <string>uni0C_B_9.glif</string>
    <key>uni0CB90CC8</key>
    <string>uni0C_B_90C_C_8.glif</string>
    <key>uni0CBC</key>
    <string>uni0C_B_C_.glif</string>
    <key>uni0CBD</key>
    <string>uni0C_B_D_.glif</string>
    <key>uni0CBE</key>
    <string>uni0C_B_E_.glif</string>
    <key>uni0CBF</key>
    <string>uni0C_B_F_.glif</string>
    <key>uni0CC0</key>
    <string>uni0C_C_0.glif</string>
    <key>uni0CC1</key>
    <string>uni0C_C_1.glif</string>
    <key>uni0CC2</key>
    <string>uni0C_C_2.glif</string>
    <key>uni0CC3</key>
    <string>uni0C_C_3.glif</string>
    <key>uni0CC4</key>
    <string>uni0C_C_4.glif</string>
    <key>uni0CC6</key>
    <string>uni0C_C_6.glif</string>
    <key>uni0CC7</key>
    <string>uni0C_C_7.glif</string>
    <key>uni0CC8</key>
    <string>uni0C_C_8.glif</string>
    <key>uni0CCA</key>
    <string>uni0C_C_A_.glif</string>
    <key>uni0CCB</key>
    <string>uni0C_C_B_.glif</string>
    <key>uni0CCC</key>
    <string>uni0C_C_C_.glif</string>
    <key>uni0CCD</key>
    <string>uni0C_C_D_.glif</string>
    <key>uni0CD5</key>
    <string>uni0C_D_5.glif</string>
    <key>uni0CD6</key>
    <string>uni0C_D_6.glif</string>
    <key>uni0CDC</key>
    <string>uni0C_D_C_.glif</string>
    <key>uni0CDD</key>
    <string>uni0C_D_D_.glif</string>
    <key>uni0CDE</key>
    <string>uni0C_D_E_.glif</string>
    <key>uni0CDE0CC8</key>
    <string>uni0C_D_E_0C_C_8.glif</string>
    <key>uni0CE0</key>
    <string>uni0C_E_0.glif</string>
    <key>uni0CE1</key>
    <string>uni0C_E_1.glif</string>
    <key>uni0CE2</key>
    <string>uni0C_E_2.glif</string>
    <key>uni0CE3</key>
    <string>uni0C_E_3.glif</string>
    <key>uni0CE6</key>
    <string>uni0C_E_6.glif</string>
    <key>uni0CE7</key>
    <string>uni0C_E_7.glif</string>
    <key>uni0CE8</key>
    <string>uni0C_E_8.glif</string>
    <key>uni0CE9</key>
    <string>uni0C_E_9.glif</string>
    <key>uni0CEA</key>
    <string>uni0C_E_A_.glif</string>
    <key>uni0CEB</key>
    <string>uni0C_E_B_.glif</string>
    <key>uni0CEC</key>
    <string>uni0C_E_C_.glif</string>
    <key>uni0CED</key>
    <string>uni0C_E_D_.glif</string>
    <key>uni0CEE</key>
    <string>uni0C_E_E_.glif</string>
    <key>uni0CEF</key>
    <string>uni0C_E_F_.glif</string>
    <key>uni0CF1</key>
    <string>uni0C_F_1.glif</string>
    <key>uni0CF2</key>
    <string>uni0C_F_2.glif</string>
    <key>uni0CF3</key>
    <string>uni0C_F_3.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uniE600</key>
    <string>uniE_600.glif</string>
    <key>uniE601</key>
    <string>uniE_601.glif</string>
    <key>uniE602</key>
    <string>uniE_602.glif</string>
    <key>uniE603</key>
    <string>uniE_603.glif</string>
    <key>uniE604</key>
    <string>uniE_604.glif</string>
    <key>uniE605</key>
    <string>uniE_605.glif</string>
    <key>uniE606</key>
    <string>uniE_606.glif</string>
    <key>uniE607</key>
    <string>uniE_607.glif</string>
    <key>uniE608</key>
    <string>uniE_608.glif</string>
    <key>uniE609</key>
    <string>uniE_609.glif</string>
    <key>uniE60A</key>
    <string>uniE_60A_.glif</string>
    <key>uniE60B</key>
    <string>uniE_60B_.glif</string>
    <key>uniE60C</key>
    <string>uniE_60C_.glif</string>
    <key>uniE60D</key>
    <string>uniE_60D_.glif</string>
    <key>uniE60E</key>
    <string>uniE_60E_.glif</string>
    <key>uniE60F</key>
    <string>uniE_60F_.glif</string>
    <key>uniE610</key>
    <string>uniE_610.glif</string>
    <key>uniE611</key>
    <string>uniE_611.glif</string>
    <key>uniE612</key>
    <string>uniE_612.glif</string>
    <key>uniE613</key>
    <string>uniE_613.glif</string>
    <key>uniE614</key>
    <string>uniE_614.glif</string>
    <key>uniE615</key>
    <string>uniE_615.glif</string>
    <key>uniE616</key>
    <string>uniE_616.glif</string>
    <key>uniE618</key>
    <string>uniE_618.glif</string>
    <key>uniE619</key>
    <string>uniE_619.glif</string>
    <key>uniE61A</key>
    <string>uniE_61A_.glif</string>
    <key>uniE61B</key>
    <string>uniE_61B_.glif</string>
    <key>uniE61C</key>
    <string>uniE_61C_.glif</string>
    <key>uniE61D</key>
    <string>uniE_61D_.glif</string>
    <key>uniE61E</key>
    <string>uniE_61E_.glif</string>
    <key>uniE61F</key>
    <string>uniE_61F_.glif</string>
    <key>uniE620</key>
    <string>uniE_620.glif</string>
    <key>uniE621</key>
    <string>uniE_621.glif</string>
    <key>uniE622</key>
    <string>uniE_622.glif</string>
    <key>uniE623</key>
    <string>uniE_623.glif</string>
    <key>uniE624</key>
    <string>uniE_624.glif</string>
    <key>uniE625</key>
    <string>uniE_625.glif</string>
    <key>uniE626</key>
    <string>uniE_626.glif</string>
    <key>uniE627</key>
    <string>uniE_627.glif</string>
    <key>uniE628</key>
    <string>uniE_628.glif</string>
    <key>uniE629</key>
    <string>uniE_629.glif</string>
    <key>uniE62A</key>
    <string>uniE_62A_.glif</string>
    <key>uniE62B</key>
    <string>uniE_62B_.glif</string>
    <key>uniE62C</key>
    <string>uniE_62C_.glif</string>
    <key>uniE62D</key>
    <string>uniE_62D_.glif</string>
    <key>uniE62E</key>
    <string>uniE_62E_.glif</string>
    <key>uniE62F</key>
    <string>uniE_62F_.glif</string>
    <key>uniE630</key>
    <string>uniE_630.glif</string>
    <key>uniE631</key>
    <string>uniE_631.glif</string>
    <key>uniE632</key>
    <string>uniE_632.glif</string>
    <key>uniE633</key>
    <string>uniE_633.glif</string>
    <key>uniE634</key>
    <string>uniE_634.glif</string>
    <key>uniE635</key>
    <string>uniE_635.glif</string>
    <key>uniE636</key>
    <string>uniE_636.glif</string>
    <key>uniE637</key>
    <string>uniE_637.glif</string>
    <key>uniE638</key>
    <string>uniE_638.glif</string>
    <key>uniE639</key>
    <string>uniE_639.glif</string>
    <key>uniE63A</key>
    <string>uniE_63A_.glif</string>
    <key>uniE63B</key>
    <string>uniE_63B_.glif</string>
    <key>uniE63C</key>
    <string>uniE_63C_.glif</string>
    <key>uniE63D</key>
    <string>uniE_63D_.glif</string>
    <key>uniE63E</key>
    <string>uniE_63E_.glif</string>
    <key>uniE63F</key>
    <string>uniE_63F_.glif</string>
    <key>uniE640</key>
    <string>uniE_640.glif</string>
    <key>uniE641</key>
    <string>uniE_641.glif</string>
    <key>uniE642</key>
    <string>uniE_642.glif</string>
    <key>uniE643</key>
    <string>uniE_643.glif</string>
    <key>uniE644</key>
    <string>uniE_644.glif</string>
    <key>uniE645</key>
    <string>uniE_645.glif</string>
    <key>uniE646</key>
    <string>uniE_646.glif</string>
    <key>uniE647</key>
    <string>uniE_647.glif</string>
    <key>uniE648</key>
    <string>uniE_648.glif</string>
    <key>uniE649</key>
    <string>uniE_649.glif</string>
    <key>uniE64A</key>
    <string>uniE_64A_.glif</string>
    <key>uniE64B</key>
    <string>uniE_64B_.glif</string>
    <key>uniE64C</key>
    <string>uniE_64C_.glif</string>
    <key>uniE64D</key>
    <string>uniE_64D_.glif</string>
    <key>uniE64E</key>
    <string>uniE_64E_.glif</string>
    <key>uniE64F</key>
    <string>uniE_64F_.glif</string>
    <key>uniE650</key>
    <string>uniE_650.glif</string>
    <key>uniE651</key>
    <string>uniE_651.glif</string>
    <key>uniE652</key>
    <string>uniE_652.glif</string>
    <key>uniE653</key>
    <string>uniE_653.glif</string>
    <key>uniE654</key>
    <string>uniE_654.glif</string>
    <key>uniE655</key>
    <string>uniE_655.glif</string>
    <key>uniE656</key>
    <string>uniE_656.glif</string>
    <key>uniE657</key>
    <string>uniE_657.glif</string>
    <key>uniE658</key>
    <string>uniE_658.glif</string>
    <key>uniE659</key>
    <string>uniE_659.glif</string>
    <key>uniE65A</key>
    <string>uniE_65A_.glif</string>
    <key>uniE65B</key>
    <string>uniE_65B_.glif</string>
    <key>uniE65C</key>
    <string>uniE_65C_.glif</string>
    <key>uniE65D</key>
    <string>uniE_65D_.glif</string>
    <key>uniE65E</key>
    <string>uniE_65E_.glif</string>
    <key>uniE65F</key>
    <string>uniE_65F_.glif</string>
    <key>uniE660</key>
    <string>uniE_660.glif</string>
    <key>uniE661</key>
    <string>uniE_661.glif</string>
    <key>uniE662</key>
    <string>uniE_662.glif</string>
    <key>uniE663</key>
    <string>uniE_663.glif</string>
    <key>uniE664</key>
    <string>uniE_664.glif</string>
    <key>uniE665</key>
    <string>uniE_665.glif</string>
    <key>uniE666</key>
    <string>uniE_666.glif</string>
    <key>uniE667</key>
    <string>uniE_667.glif</string>
    <key>uniE668</key>
    <string>uniE_668.glif</string>
    <key>uniE669</key>
    <string>uniE_669.glif</string>
    <key>uniE66A</key>
    <string>uniE_66A_.glif</string>
    <key>uniE66B</key>
    <string>uniE_66B_.glif</string>
    <key>uniE66C</key>
    <string>uniE_66C_.glif</string>
    <key>uniE66D</key>
    <string>uniE_66D_.glif</string>
    <key>uniE66E</key>
    <string>uniE_66E_.glif</string>
    <key>uniE66F</key>
    <string>uniE_66F_.glif</string>
    <key>uniE670</key>
    <string>uniE_670.glif</string>
    <key>uniE671</key>
    <string>uniE_671.glif</string>
    <key>uniE672</key>
    <string>uniE_672.glif</string>
    <key>uniE673</key>
    <string>uniE_673.glif</string>
    <key>uniE674</key>
    <string>uniE_674.glif</string>
    <key>uniE675</key>
    <string>uniE_675.glif</string>
    <key>uniE676</key>
    <string>uniE_676.glif</string>
    <key>uniE677</key>
    <string>uniE_677.glif</string>
    <key>uniE678</key>
    <string>uniE_678.glif</string>
    <key>uniE679</key>
    <string>uniE_679.glif</string>
    <key>uniE67A</key>
    <string>uniE_67A_.glif</string>
    <key>uniE67B</key>
    <string>uniE_67B_.glif</string>
    <key>uniE67C</key>
    <string>uniE_67C_.glif</string>
    <key>uniE67D</key>
    <string>uniE_67D_.glif</string>
    <key>uniE67E</key>
    <string>uniE_67E_.glif</string>
    <key>uniE67F</key>
    <string>uniE_67F_.glif</string>
    <key>uniE680</key>
    <string>uniE_680.glif</string>
    <key>uniE681</key>
    <string>uniE_681.glif</string>
    <key>uniE682</key>
    <string>uniE_682.glif</string>
    <key>uniE683</key>
    <string>uniE_683.glif</string>
    <key>uniE684</key>
    <string>uniE_684.glif</string>
    <key>uniE685</key>
    <string>uniE_685.glif</string>
    <key>uniE686</key>
    <string>uniE_686.glif</string>
    <key>uniE687</key>
    <string>uniE_687.glif</string>
    <key>uniE688</key>
    <string>uniE_688.glif</string>
    <key>uniE689</key>
    <string>uniE_689.glif</string>
    <key>uniE68A</key>
    <string>uniE_68A_.glif</string>
    <key>uniE68B</key>
    <string>uniE_68B_.glif</string>
    <key>uniE68C</key>
    <string>uniE_68C_.glif</string>
    <key>uniE68D</key>
    <string>uniE_68D_.glif</string>
    <key>uniE68E</key>
    <string>uniE_68E_.glif</string>
    <key>uniE68F</key>
    <string>uniE_68F_.glif</string>
    <key>uniE690</key>
    <string>uniE_690.glif</string>
    <key>uniE691</key>
    <string>uniE_691.glif</string>
    <key>uniE692</key>
    <string>uniE_692.glif</string>
    <key>uniE693</key>
    <string>uniE_693.glif</string>
    <key>uniE694</key>
    <string>uniE_694.glif</string>
    <key>uniE695</key>
    <string>uniE_695.glif</string>
    <key>uniE696</key>
    <string>uniE_696.glif</string>
    <key>uniE697</key>
    <string>uniE_697.glif</string>
    <key>uniE698</key>
    <string>uniE_698.glif</string>
    <key>uniE699</key>
    <string>uniE_699.glif</string>
    <key>uniE69A</key>
    <string>uniE_69A_.glif</string>
    <key>uniE69B</key>
    <string>uniE_69B_.glif</string>
    <key>uniE69C</key>
    <string>uniE_69C_.glif</string>
    <key>uniE69D</key>
    <string>uniE_69D_.glif</string>
    <key>uniE69E</key>
    <string>uniE_69E_.glif</string>
    <key>uniE69F</key>
    <string>uniE_69F_.glif</string>
    <key>uniE6A0</key>
    <string>uniE_6A_0.glif</string>
    <key>uniE6A1</key>
    <string>uniE_6A_1.glif</string>
    <key>uniE6A2</key>
    <string>uniE_6A_2.glif</string>
    <key>uniE6A3</key>
    <string>uniE_6A_3.glif</string>
    <key>uniE6A4</key>
    <string>uniE_6A_4.glif</string>
    <key>uniE6A5</key>
    <string>uniE_6A_5.glif</string>
    <key>uniE6A6</key>
    <string>uniE_6A_6.glif</string>
    <key>uniE6A7</key>
    <string>uniE_6A_7.glif</string>
    <key>uniE6A8</key>
    <string>uniE_6A_8.glif</string>
    <key>uniE6A9</key>
    <string>uniE_6A_9.glif</string>
    <key>uniE6AA</key>
    <string>uniE_6A_A_.glif</string>
    <key>uniE6AB</key>
    <string>uniE_6A_B_.glif</string>
    <key>uniE6AC</key>
    <string>uniE_6A_C_.glif</string>
    <key>uniE6AD</key>
    <string>uniE_6A_D_.glif</string>
    <key>uniE6AE</key>
    <string>uniE_6A_E_.glif</string>
    <key>uniE6AF</key>
    <string>uniE_6A_F_.glif</string>
    <key>uniE6B0</key>
    <string>uniE_6B_0.glif</string>
    <key>uniE6B1</key>
    <string>uniE_6B_1.glif</string>
    <key>uniE6B2</key>
    <string>uniE_6B_2.glif</string>
    <key>uniE6B3</key>
    <string>uniE_6B_3.glif</string>
    <key>uniE6B4</key>
    <string>uniE_6B_4.glif</string>
    <key>uniE6B5</key>
    <string>uniE_6B_5.glif</string>
    <key>uniE6B6</key>
    <string>uniE_6B_6.glif</string>
    <key>uniE6B7</key>
    <string>uniE_6B_7.glif</string>
    <key>uniE6B8</key>
    <string>uniE_6B_8.glif</string>
    <key>uniE6B9</key>
    <string>uniE_6B_9.glif</string>
    <key>uniE6BA</key>
    <string>uniE_6B_A_.glif</string>
    <key>uniE6BB</key>
    <string>uniE_6B_B_.glif</string>
    <key>uniE6BC</key>
    <string>uniE_6B_C_.glif</string>
    <key>uniE6BD</key>
    <string>uniE_6B_D_.glif</string>
    <key>uniE6BE</key>
    <string>uniE_6B_E_.glif</string>
    <key>uniE6BF</key>
    <string>uniE_6B_F_.glif</string>
    <key>uniE6C0</key>
    <string>uniE_6C_0.glif</string>
    <key>uniE6C1</key>
    <string>uniE_6C_1.glif</string>
    <key>uniE6C2</key>
    <string>uniE_6C_2.glif</string>
    <key>uniE6C3</key>
    <string>uniE_6C_3.glif</string>
    <key>uniE6C4</key>
    <string>uniE_6C_4.glif</string>
    <key>uniE6C5</key>
    <string>uniE_6C_5.glif</string>
    <key>uniE6C6</key>
    <string>uniE_6C_6.glif</string>
    <key>uniE6C7</key>
    <string>uniE_6C_7.glif</string>
    <key>uniE6C8</key>
    <string>uniE_6C_8.glif</string>
    <key>uniE6C9</key>
    <string>uniE_6C_9.glif</string>
    <key>uniE6CA</key>
    <string>uniE_6C_A_.glif</string>
    <key>uniE6CB</key>
    <string>uniE_6C_B_.glif</string>
    <key>uniE6CC</key>
    <string>uniE_6C_C_.glif</string>
    <key>uniE6CD</key>
    <string>uniE_6C_D_.glif</string>
    <key>uniE6CE</key>
    <string>uniE_6C_E_.glif</string>
    <key>uniE6CF</key>
    <string>uniE_6C_F_.glif</string>
    <key>uniE6D0</key>
    <string>uniE_6D_0.glif</string>
    <key>uniE6D1</key>
    <string>uniE_6D_1.glif</string>
    <key>uniE6D2</key>
    <string>uniE_6D_2.glif</string>
    <key>uniE6D3</key>
    <string>uniE_6D_3.glif</string>
    <key>uniE6D4</key>
    <string>uniE_6D_4.glif</string>
    <key>uniE6D5</key>
    <string>uniE_6D_5.glif</string>
    <key>uniE6D6</key>
    <string>uniE_6D_6.glif</string>
    <key>uniE6D7</key>
    <string>uniE_6D_7.glif</string>
    <key>uniE6D8</key>
    <string>uniE_6D_8.glif</string>
    <key>uniE6D9</key>
    <string>uniE_6D_9.glif</string>
    <key>uniE6DA</key>
    <string>uniE_6D_A_.glif</string>
    <key>uniE6DB</key>
    <string>uniE_6D_B_.glif</string>
    <key>uniE6DC</key>
    <string>uniE_6D_C_.glif</string>
    <key>uniE6DD</key>
    <string>uniE_6D_D_.glif</string>
    <key>uniE6DE</key>
    <string>uniE_6D_E_.glif</string>
    <key>uniE6DF</key>
    <string>uniE_6D_F_.glif</string>
    <key>uniE6E0</key>
    <string>uniE_6E_0.glif</string>
    <key>uniE6E1</key>
    <string>uniE_6E_1.glif</string>
    <key>uniE6E2</key>
    <string>uniE_6E_2.glif</string>
    <key>uniE6E3</key>
    <string>uniE_6E_3.glif</string>
    <key>uniE6E4</key>
    <string>uniE_6E_4.glif</string>
    <key>uniE6E5</key>
    <string>uniE_6E_5.glif</string>
    <key>uniE6E6</key>
    <string>uniE_6E_6.glif</string>
    <key>uniE6E7</key>
    <string>uniE_6E_7.glif</string>
    <key>uniE6E8</key>
    <string>uniE_6E_8.glif</string>
    <key>uniE6E9</key>
    <string>uniE_6E_9.glif</string>
    <key>uniE6EA</key>
    <string>uniE_6E_A_.glif</string>
    <key>uniE6EB</key>
    <string>uniE_6E_B_.glif</string>
    <key>uniE6EC</key>
    <string>uniE_6E_C_.glif</string>
    <key>uniE6ED</key>
    <string>uniE_6E_D_.glif</string>
    <key>uniE6EE</key>
    <string>uniE_6E_E_.glif</string>
    <key>uniE6EF</key>
    <string>uniE_6E_F_.glif</string>
    <key>uniE6F0</key>
    <string>uniE_6F_0.glif</string>
    <key>uniE6F1</key>
    <string>uniE_6F_1.glif</string>
    <key>uniE6F2</key>
    <string>uniE_6F_2.glif</string>
    <key>uniE6F3</key>
    <string>uniE_6F_3.glif</string>
    <key>uniE6F4</key>
    <string>uniE_6F_4.glif</string>
    <key>uniE6F5</key>
    <string>uniE_6F_5.glif</string>
    <key>uniE6F6</key>
    <string>uniE_6F_6.glif</string>
    <key>uniE6F7</key>
    <string>uniE_6F_7.glif</string>
    <key>uniE6F8</key>
    <string>uniE_6F_8.glif</string>
    <key>uniE6F9</key>
    <string>uniE_6F_9.glif</string>
    <key>uniE6FA</key>
    <string>uniE_6F_A_.glif</string>
    <key>uniE6FB</key>
    <string>uniE_6F_B_.glif</string>
    <key>uniE6FC</key>
    <string>uniE_6F_C_.glif</string>
    <key>uniE6FD</key>
    <string>uniE_6F_D_.glif</string>
    <key>uniE6FE</key>
    <string>uniE_6F_E_.glif</string>
    <key>uniE6FF</key>
    <string>uniE_6F_F_.glif</string>
    <key>uniE700</key>
    <string>uniE_700.glif</string>
    <key>uniE701</key>
    <string>uniE_701.glif</string>
    <key>uniE702</key>
    <string>uniE_702.glif</string>
    <key>uniE703</key>
    <string>uniE_703.glif</string>
    <key>uniE704</key>
    <string>uniE_704.glif</string>
    <key>uniE705</key>
    <string>uniE_705.glif</string>
    <key>uniE706</key>
    <string>uniE_706.glif</string>
    <key>uniE707</key>
    <string>uniE_707.glif</string>
    <key>uniE708</key>
    <string>uniE_708.glif</string>
    <key>uniE709</key>
    <string>uniE_709.glif</string>
    <key>uniE70A</key>
    <string>uniE_70A_.glif</string>
    <key>uniE70B</key>
    <string>uniE_70B_.glif</string>
    <key>uniE70C</key>
    <string>uniE_70C_.glif</string>
    <key>uniE70D</key>
    <string>uniE_70D_.glif</string>
    <key>uniE70E</key>
    <string>uniE_70E_.glif</string>
    <key>uniE70F</key>
    <string>uniE_70F_.glif</string>
    <key>uniE710</key>
    <string>uniE_710.glif</string>
    <key>uniE711</key>
    <string>uniE_711.glif</string>
    <key>uniE712</key>
    <string>uniE_712.glif</string>
    <key>uniE713</key>
    <string>uniE_713.glif</string>
    <key>uniE714</key>
    <string>uniE_714.glif</string>
    <key>uniE715</key>
    <string>uniE_715.glif</string>
    <key>uniE716</key>
    <string>uniE_716.glif</string>
    <key>uniE717</key>
    <string>uniE_717.glif</string>
    <key>uniE718</key>
    <string>uniE_718.glif</string>
    <key>uniE719</key>
    <string>uniE_719.glif</string>
    <key>uniE71A</key>
    <string>uniE_71A_.glif</string>
    <key>uniE71B</key>
    <string>uniE_71B_.glif</string>
    <key>uniE71C</key>
    <string>uniE_71C_.glif</string>
    <key>uniE71D</key>
    <string>uniE_71D_.glif</string>
    <key>uniE71E</key>
    <string>uniE_71E_.glif</string>
    <key>uniE71F</key>
    <string>uniE_71F_.glif</string>
    <key>uniE720</key>
    <string>uniE_720.glif</string>
    <key>uniE721</key>
    <string>uniE_721.glif</string>
    <key>uniE722</key>
    <string>uniE_722.glif</string>
    <key>uniE723</key>
    <string>uniE_723.glif</string>
    <key>uniE724</key>
    <string>uniE_724.glif</string>
    <key>uniE725</key>
    <string>uniE_725.glif</string>
    <key>uniE726</key>
    <string>uniE_726.glif</string>
    <key>uniE727</key>
    <string>uniE_727.glif</string>
    <key>uniE728</key>
    <string>uniE_728.glif</string>
    <key>uniE729</key>
    <string>uniE_729.glif</string>
    <key>uniE72A</key>
    <string>uniE_72A_.glif</string>
    <key>uniE72B</key>
    <string>uniE_72B_.glif</string>
    <key>uniE72C</key>
    <string>uniE_72C_.glif</string>
    <key>uniE72D</key>
    <string>uniE_72D_.glif</string>
    <key>uniE72E</key>
    <string>uniE_72E_.glif</string>
    <key>uniE72F</key>
    <string>uniE_72F_.glif</string>
    <key>uniE730</key>
    <string>uniE_730.glif</string>
    <key>uniE731</key>
    <string>uniE_731.glif</string>
    <key>uniE732</key>
    <string>uniE_732.glif</string>
    <key>uniE733</key>
    <string>uniE_733.glif</string>
    <key>uniE734</key>
    <string>uniE_734.glif</string>
    <key>uniE735</key>
    <string>uniE_735.glif</string>
    <key>uniE736</key>
    <string>uniE_736.glif</string>
    <key>uniE737</key>
    <string>uniE_737.glif</string>
    <key>uniE738</key>
    <string>uniE_738.glif</string>
    <key>uniE739</key>
    <string>uniE_739.glif</string>
    <key>uniE73A</key>
    <string>uniE_73A_.glif</string>
    <key>uniE73B</key>
    <string>uniE_73B_.glif</string>
    <key>uniE73C</key>
    <string>uniE_73C_.glif</string>
    <key>uniE73D</key>
    <string>uniE_73D_.glif</string>
    <key>uniE73E</key>
    <string>uniE_73E_.glif</string>
    <key>uniE73F</key>
    <string>uniE_73F_.glif</string>
    <key>uniE740</key>
    <string>uniE_740.glif</string>
    <key>uniE741</key>
    <string>uniE_741.glif</string>
    <key>uniE742</key>
    <string>uniE_742.glif</string>
    <key>uniE743</key>
    <string>uniE_743.glif</string>
    <key>uniE744</key>
    <string>uniE_744.glif</string>
    <key>uniE745</key>
    <string>uniE_745.glif</string>
    <key>uniE746</key>
    <string>uniE_746.glif</string>
    <key>uniE747</key>
    <string>uniE_747.glif</string>
    <key>uniE748</key>
    <string>uniE_748.glif</string>
    <key>uniE749</key>
    <string>uniE_749.glif</string>
    <key>uniE74A</key>
    <string>uniE_74A_.glif</string>
    <key>uniE74B</key>
    <string>uniE_74B_.glif</string>
    <key>uniE74C</key>
    <string>uniE_74C_.glif</string>
    <key>uniE74D</key>
    <string>uniE_74D_.glif</string>
    <key>uniE74E</key>
    <string>uniE_74E_.glif</string>
    <key>uniE74F</key>
    <string>uniE_74F_.glif</string>
    <key>uniE750</key>
    <string>uniE_750.glif</string>
    <key>uniE751</key>
    <string>uniE_751.glif</string>
    <key>uniE752</key>
    <string>uniE_752.glif</string>
    <key>uniE753</key>
    <string>uniE_753.glif</string>
    <key>uniE754</key>
    <string>uniE_754.glif</string>
    <key>uniE755</key>
    <string>uniE_755.glif</string>
    <key>uniE756</key>
    <string>uniE_756.glif</string>
    <key>uniE757</key>
    <string>uniE_757.glif</string>
    <key>uniE758</key>
    <string>uniE_758.glif</string>
    <key>uniE759</key>
    <string>uniE_759.glif</string>
    <key>uniE75A</key>
    <string>uniE_75A_.glif</string>
    <key>uniE75B</key>
    <string>uniE_75B_.glif</string>
    <key>uniE75C</key>
    <string>uniE_75C_.glif</string>
    <key>uniE75D</key>
    <string>uniE_75D_.glif</string>
    <key>uniE75E</key>
    <string>uniE_75E_.glif</string>
    <key>uniE75F</key>
    <string>uniE_75F_.glif</string>
    <key>uniE760</key>
    <string>uniE_760.glif</string>
    <key>uniE761</key>
    <string>uniE_761.glif</string>
    <key>uniE762</key>
    <string>uniE_762.glif</string>
    <key>uniE763</key>
    <string>uniE_763.glif</string>
    <key>uniE764</key>
    <string>uniE_764.glif</string>
    <key>uniE765</key>
    <string>uniE_765.glif</string>
    <key>uniE766</key>
    <string>uniE_766.glif</string>
    <key>uniE767</key>
    <string>uniE_767.glif</string>
    <key>uniE768</key>
    <string>uniE_768.glif</string>
    <key>uniE769</key>
    <string>uniE_769.glif</string>
    <key>uniE76A</key>
    <string>uniE_76A_.glif</string>
    <key>uniE76B</key>
    <string>uniE_76B_.glif</string>
    <key>uniE76C</key>
    <string>uniE_76C_.glif</string>
    <key>uniE76D</key>
    <string>uniE_76D_.glif</string>
    <key>uniE76E</key>
    <string>uniE_76E_.glif</string>
    <key>uniE76F</key>
    <string>uniE_76F_.glif</string>
    <key>uniE770</key>
    <string>uniE_770.glif</string>
    <key>uniE771</key>
    <string>uniE_771.glif</string>
    <key>uniE772</key>
    <string>uniE_772.glif</string>
    <key>uniE773</key>
    <string>uniE_773.glif</string>
    <key>uniE774</key>
    <string>uniE_774.glif</string>
    <key>uniE775</key>
    <string>uniE_775.glif</string>
    <key>uniE776</key>
    <string>uniE_776.glif</string>
    <key>uniE777</key>
    <string>uniE_777.glif</string>
    <key>uniE778</key>
    <string>uniE_778.glif</string>
    <key>uniE779</key>
    <string>uniE_779.glif</string>
    <key>uniE77A</key>
    <string>uniE_77A_.glif</string>
    <key>uniE77B</key>
    <string>uniE_77B_.glif</string>
    <key>uniE77C</key>
    <string>uniE_77C_.glif</string>
    <key>uniE77D</key>
    <string>uniE_77D_.glif</string>
    <key>uniE77E</key>
    <string>uniE_77E_.glif</string>
    <key>uniE77F</key>
    <string>uniE_77F_.glif</string>
    <key>uniE780</key>
    <string>uniE_780.glif</string>
    <key>uniE781</key>
    <string>uniE_781.glif</string>
    <key>uniE782</key>
    <string>uniE_782.glif</string>
    <key>uniE783</key>
    <string>uniE_783.glif</string>
    <key>uniE784</key>
    <string>uniE_784.glif</string>
    <key>uniE785</key>
    <string>uniE_785.glif</string>
    <key>uniE786</key>
    <string>uniE_786.glif</string>
    <key>uniE787</key>
    <string>uniE_787.glif</string>
    <key>uniE788</key>
    <string>uniE_788.glif</string>
    <key>uniE789</key>
    <string>uniE_789.glif</string>
    <key>uniE78A</key>
    <string>uniE_78A_.glif</string>
    <key>uniE78B</key>
    <string>uniE_78B_.glif</string>
    <key>uniE78C</key>
    <string>uniE_78C_.glif</string>
    <key>uniE78D</key>
    <string>uniE_78D_.glif</string>
    <key>uniE7B1</key>
    <string>uniE_7B_1.glif</string>
    <key>uniE7B2</key>
    <string>uniE_7B_2.glif</string>
    <key>uniE7B3</key>
    <string>uniE_7B_3.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>vavattu_rkannada</key>
    <string>vavattu_rkannada.glif</string>
    <key>vavattukannada</key>
    <string>vavattukannada.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yavattu_rkannada</key>
    <string>yavattu_rkannada.glif</string>
    <key>yavattukannada</key>
    <string>yavattukannada.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
